* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #BF360C;
    color: #FFF;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

main div:last-of-type {
    margin-right: 0;
}

/* TODO: define the following animations and
   apply them to the respective box when the
   user hovers the mouse over the box

Box 1: 2D spin
Box 2: fade out
Box 3: drop out (drop to bottom of viewport while fading out)
Box 4: explode (scale up while fading out)
Box 5: shake (move side-to-side like shaking head no)
Box 6: 3D flip
*/
@media(hover:hover){
    .box:nth-child(1):hover{
        background-color:blue;
        transform: rotate(360deg);
        transition-duration: 5s;
    }

    .box:nth-child(2):hover{
        transition: opacity 1s ease-in-out;
        /* transition-property: opacity;
        transition-duration: 1s; */
        opacity: 0;
    }
    
    .box:nth-child(3):hover{
        transform: translate(0px,50px);
        transition-duration:3s;
        opacity: 0; 
    }

    .box:nth-child(4):hover{
        transform:scale(2,2);
        transition-duration: 5s;
        opacity:0;
    }
    .box:nth-child(5):hover{
        animation: shake 0.2s linear infinite;
         /*infinite - keep shaking */
    }

    @keyframes shake {
        25% {transform: translate(10px,0px)}
        75% {transform: translate(-10px,0px)}
        100%{transform: translate(0px,0px)}
    }
    .box:nth-child(6):hover{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transition-duration: 2s;
    }
}